.row{
    width: 98%;
    margin: 0px auto;
    color: white;
}

.row h2{
    font-size: 20px;
}

.poster{
    object-fit: contain;
    /* width: 100%; */
    max-height: 200px;
    margin-right: 10px;
    transition: transform 300ms;
}

.poster:hover{
    transform: scale(1.07);
}

.movie-row{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding: 20px;
}

.movie-row::-webkit-scrollbar{
    display: none;
}
